.block_orange_course_dashboard .right {
	float: right;
}

.block_orange_course_dashboard .coursechildren {
	font-weight: normal;
	font-style: italic;
}

.block_orange_course_dashboard .content {
	margin: 0 20px;
}

.block_orange_course_dashboard .content .notice {
	margin: 5px 0;
}

.block_orange_course_dashboard .coursebox {
	padding: 15px;
	width: auto;
}


.block_orange_course_dashboard .content h2.title {
	float: left;
	margin: 0 0 .5em 0;
	position: relative;
}

.dir-rtl .block_orange_course_dashboard .content h2.title {
	float: right;
}

.block_orange_course_dashboard .course_title {
	position: relative;
}

.block_orange_course_dashboard .course_list {
	width: 100%;
}

.block_orange_course_dashboard div.flush {
	clear: both;
}

.block_orange_course_dashboard .activity_info {
	clear: both;
}

.dir-rtl .block_orange_course_dashboard .activity_info {
	margin-right: 25px;
}

.block_orange_course_dashboard .activity_overview {
	padding: 2px;
}

.block_orange_course_dashboard .activity_overview img.iconlarge {
	vertical-align: text-bottom;
	margin-right: 6px;
}

.dir-rtl .block_orange_course_dashboard .activity_overview img.iconlarge {
	margin-left: 6px;
	margin-right: 0;
}