vagrant/moodledata/*
!vagrant/moodledata/lang
vagrant/solerni/nbproject/
vagrant/override/*
!vagrant/override/lang
!vagrant/override/user/profile/field/menu
.vagrant
vagrant/.*
Vagrantfile
vagrant/system
vagrant/solerni/theme/solerni
codecheck
vagrant/solerni/local/codechecker
**/nbproject
Vagrantfile
nbproject
codechecker
codecheck

