vagrant/moodledata/*
!vagrant/moodledata/lang
vagrant/moodledata2/*
!vagrant/moodledata2/lang
vagrant/moodledata3/*
!vagrant/moodledata3/lang
vagrant/moodledata4/*
!vagrant/moodledata4/lang
vagrant/moodledata5/*
!vagrant/moodledata5/lang
vagrant/solerni/nbproject/
vagrant/solerni2/nbproject/
vagrant/solerni3/nbproject/
vagrant/solerni4/nbproject/
vagrant/solerni5/nbproject/
vagrant/override/*
vagrant/override2/*
vagrant/override3/*
vagrant/override4/*
vagrant/override5/*
!vagrant/override/lang
!vagrant/override2/lang
!vagrant/override3/lang
!vagrant/override4/lang
!vagrant/override5/lang
!vagrant/override/user/profile/field/menu
!vagrant/override/user/profile2/field/menu
!vagrant/override/user/profile3/field/menu
!vagrant/override/user/profile4/field/menu
!vagrant/override/user/profile5/field/menu
.vagrant
vagrant/.*
Vagrantfile
vagrant/system
codecheck
vagrant/solerni/local/codechecker
**/nbproject
Vagrantfile
nbproject
codechecker
codecheck
