/**
 * Import all the rules from the parent,
 * then local variables and files.
 */
@import "../../bootstrap/less/moodle.less"; // parent Bootstrap
@import "variables.less";       // Definition file : reBoost variables
@import "buttons.less";         // reBoost Buttons
@import "orange-css.less";      // Use new variables from Bootstrap
@import "iconOrange.less";      // Orange iconic Font
@import "fontOrangeSans.less";  // Orange Web Font
@import "classic_tab.less";     // Use new variables from Bootstrap
@import "pointed_tab.less";     // Use new variables from Bootstrap
@import "solerni.less";         // Solerni Objects


/*
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('[[font:theme|glyphicons-halflings-regular.eot]]');
  src: url('[[font:theme|glyphicons-halflings-regular.eot]]?#iefix') format('embedded-opentype'),
       url('[[font:theme|glyphicons-halflings-regular.woff]]') format('woff'),
       url('[[font:theme|glyphicons-halflings-regular.ttf]]') format('truetype'),
       url('[[font:theme|glyphicons-halflings-regular.svg]]') format('svg');
}
*/
