.block_orange_list_bestforumng .boxhover:hover {
    background-color: #CCCCCC;
}

.block_orange_list_bestforumng .overpicture {
    position:absolute;
    bottom:2em;
    background-color:#666666;
    color:#FFFFFF;
    padding:1%;
}