// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.


/* Block Orange Opinion */
.block_orange_opinion {

    background-color: @orange-blue;
    
    .orange-opinion-carousel {
        padding-bottom: 20px;

        .orange-opinion-carousel-outline {
            background-color: @brand-tertiary;
        }
    }

    .orange-opinion-carousel-content {
        display:    flex;
    }

    .orange-opinion-text {

        .orange-opinion-title {
            padding-top:    @s-medium-md-margin;
            padding-bottom: @s-medium-md-margin;
            border-bottom:  1px solid @orange-mid-1;
            font-size:      @font-size-h3;
        }

        .orange-opinion-ident {
            padding-bottom: @s-medium-md-margin;
            padding-top:    @s-medium-md-margin;
            font-family:    @font-family-titles;
            font-weight:    bold;
            font-size:      @font-size-base;
        }

        .orange-opinion-content {
            padding-bottom: @s-medium-md-margin;
            font-family:    @font-family-sans-serif;
            font-size:      @font-size-base;
        }
    }            

    .orange-opinion-dot {
        height:         10px;
        width:          10px;
        border-radius:  50%;
    }

    .orange-opinion-chevron-left {
        left:       50%;
        background: transparent;
    }

    .orange-opinion-chevron-right {
        right:      50%;
        background: transparent;
    }

}        
