/*
 * Orange Thematics Menu CSS.
 */

.block_orange_listforumng {
    
    background-color:   @orange-mid-1;
    padding-bottom:     @s-medium-md-margin;

    .orange-listforumng-title-noforumpage {
        padding:     @s-medium-md-margin;
        background-color:   @brand-primary;

        .h4 {
            color:              @brand-tertiary;
        }
    }

    .orange-listforumng-content {
        background-color:   @brand-tertiary;

        .orange-listforumng-item {
            padding-top:    @s-medium-md-margin;
            padding-bottom: @s-medium-md-margin;
            border-bottom: 1px solid @orange-mid-1;

            .orange-listforumng-item-status {
                padding-left:    @s-medium-md-margin;
            }
        }
    }
}