/*
 * This file include Solerni CSS specific code :
 * keeps code that is not lengthy enough to be into a specific file
 */
/*
 * Element LESS template as model :

.classname {
    permanent_property: value;

    @media (min-width: @screen-sm-min) {
        sm-specific_property: value;
        (remove @media block if unused)
    }

    @media (min-width: @screen-md-min) {
        md-specific_property: value;
}

    @media (min-width: @screen-lg-min) {
        lg-specific_property: value;
    }
}

*/

// Probably never use, but we never know.
.font-primary {
    font-family:    @font-family-base;
}

.font-secondary {
    font-family:    @font-family-serif;
}

.font-mono {
    font-family:    @font-family-monospace;
}

// Titles & paragraphs.
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, p {
    color:          @brand-primary;
    line-height:    1.5; // 63px, 42px, 36px, 31px, 15px, 13px and 20px baseline
    margin:         .5em 0;
}

.bold {
    font-weight: bold;
    font-family: @font-family-titles;
}

// Forms Moodle missing type="email"
// Overrides same function from boostrap/less/moodle/forms.less # 160
form select,
form input[type="text"],
form input[type="password"],
form input[type="email"],
form.atto_form input[type="url"],
select.singleselect {
    .form-control;
    width:          auto;
    max-width:      300px;
    display:        inline;
    margin:         0 0 @padding-small-vertical 0;
}

// Moodle uses some margins, Bootstrap others : mixing both
input[type="radio"],
input[type="checkbox"] {
    margin:         4px;
}

 /*
  * Dropdowns
  * */

 .dropdown {
     display: inline-block;
 }

 div[role="main"] button + .dropdown-menu,
 button + .dropdown-menu {
     padding:       0;
     margin-top:    -1px;
 }

 .dropdown .btn {
     margin-left:   0;
 }

 .dropdown-menu {
     min-width: 100%;
     width:     100%;
 }

 .dropdown-menu > li > a {
     padding:           @s-double-xs-margin @s-small-xs-margin;
     line-height:       1;
     text-decoration:   none;

    @media (min-width:  @screen-xs-min) {
        padding:    (@s-medium-md-margin / 2) @s-medium-md-margin;
    }

 }

 .header-dropdown .dropdown-menu a {
     font-weight:   bold;
 }

 .btn .caret {
     margin-left: @s-triple-md-margin;
 }

/*
 * Line (as in footer)
 * */
.fullwidth-line {
    border-bottom-color: @orange-light-4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.midwidth-line {

    border-bottom-color:    @orange-light-4;
    border-bottom-style:    solid;
    border-bottom-width:    1px;
    width:                  90%;
    margin-left:            auto;
    margin-right:           auto;
}

/*
 * Rollover
 */

.imageWrapper {
    position:       relative;
    width:          600px;
    height:         450px;
}
.imageWrapper .img-thumbnail {
    display:        block;
}
.imageWrapper .cornerLink {
    opacity:        10;
    position:       absolute;
    bottom:         0px;
    left:           0px;
    right:          0px;
    padding:        2px 0px;
    color:          #ffffff;
    background:     #000000;
    text-decoration: none;
    text-align:     center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition:  opacity 500ms;
    transition:     opacity 500ms;

}
.imageWrapper:hover .cornerLink {
    opacity:        0.8;
}

/*
 *  Catalog
 */
.jsenabled .catalog-filters-form .btn {
    display: none;
}

.filters-form-fieldset {
    margin-bottom:  @s-medium-xs-margin;

    @media (min-width: @screen-xs-min) {
        margin-bottom: @s-medium-md-margin;
    }
}

.filters-form-fieldset:last-of-type {
    margin-bottom:  0;
}

    .form-fieldset-legend {
        margin-bottom: 0;
    }

/*
 * mediagallery icons (US #197 US #210)
 */
.path-mod-mediagallery .gallery_list_item .controls,
.path-mod-mediagallery .item .controls {
    clear:          both;
    margin-bottom:  3px;
}

/*
 *  Badges: use variables instead
 */

.orange-course-name-logo {
    position:       relative;
    right:          0px;
    border-bottom : 1px solid #000;
    padding:        @padding-small-vertical @padding-base-vertical;
    padding-top:    @padding-small-vertical;
    padding-bottom: @padding-small-vertical;
}

.orange-course-name {
    font-weight:    bold;
}

.orange-course-logo {
    position:       absolute;
    top:            0;
    right:          0;
}

.orange-badges-list {
    padding:        @padding-small-vertical @padding-base-vertical;
    padding-top:    @padding-small-vertical;
    padding-bottom: @padding-small-vertical;
}

/* hide moodle icons */
.tree_item a .smallicon {
    display:        none;
}

/* fix small css */
img.icon {
    float:          left;
}

.formsettingheading {
    margin-bottom:  2em;
}

/* calendar quickfix */
.calendar-controls {
    font-size:      @font-size-large;
    text-align:     center;
}

.block.block_calendar_month .calendar-controls .current,
.block.block_calendar_month .calendar-controls .arrow_link {
    display:        inline-block;
    width:          auto;
    float:          none;
}

.block.block_calendar_month .calendar-controls .current {
    margin:         0 .5em;
}

.block.block_calendar_month .calendar-controls a {
    text-decoration:    none;
}

.margin-bottom-md {
     margin-bottom: @grid-gutter-width;
}

.subscription-banner {
    text-align:         center;
    padding-bottom:     @s-double-md-margin;
    padding-top:        @s-double-md-margin;
    background-color:   @component-active-bg;
}

.text-centered {
    text-align:     center;
    padding-top:    @s-medium-md-margin;
    padding-bottom: @s-triple-md-margin;
}

.information-text {
    height: 70px;
    padding-top:    @s-double-md-margin;
    padding-bottom: @s-double-md-margin;
}

.item-centered {
    text-align:     center;
}

.icon-map  {
    float:          left;
    font-weight:    bold;

    .centered {
        vertical-align: middle;
    }

    img {
        width:      @font-size-h2;
        height:     @font-size-h2;

    }
}

.icon-map .logo-image {

    .centertext {
        display:    block;
        float:      left;
    }
}

.icon-map .textcentered{
    float:          right;
    line-height:    @s-double-md-margin;
}
// Footer version control display
.version-control {
    font-size:  (@font-size-base * 0.8);
    color:      @orange-dark-2;
}

.oneline {
    line-height:    1 !important;
        margin-left:            60px;
    margin-right:           auto;
    
}

/* table */
th, td {
    border: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
    font-size:              @font-size-base;
    font-family:            @font-family-titles;
    border-bottom-width:    2px;
}

.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    font-size: (@font-size-base * 0.875);
}
