/*
 * Orange Thematics Menu CSS.
 */

.block_orange_horizontal_numbers {
    
    padding: 0;

    .orange-horizontal-numbers-illustration {
        
        padding-bottom:     @s-double-xs-margin;
        @media (min-width:  @screen-md-min) {
            padding-bottom: @s-double-md-margin;
        }
    }
    
    .orange-horizontal-numbers-title {

        padding-bottom:     @s-triple-xs-margin;
        @media (min-width:  @screen-md-min) {
            padding-bottom: @s-triple-md-margin;
        }

        h1 {
                padding-bottom:    @s-double-xs-margin;
        }
    }
    
    .orange-horizontal-numbers-details {
        padding-top:     @s-triple-md-margin;
        padding-bottom:     @s-triple-md-margin;
        
        div.h2 {
            margin: 0;
            padding: 0;
            padding-bottom: @s-small-md-margin;
        }
        
        div.h3 {
            margin: 0;
            padding: 0;
            padding-bottom: @s-small-md-margin;
        }
    }
    
    .orange-horizontal-numbers-link {
        padding-top:        @s-double-md-margin;
        padding-bottom:     @s-medium-md-margin;
    }
}