/*
 Login and signup rules
*/

/*
 *Login
 */
.login-oauth2 {
    margin: @s-double-xs-margin 0;
}

.login-oauth2 .btn {
    margin-bottom: @s-double-xs-margin;
}

.login-line {
    border-top: 2px solid @gray-dark;
    text-align: center;
    margin:     @s-small-xs-margin 0;
}

.line-inner {
    position:           relative;
    display:            inline-block;
    background-color:   @brand-tertiary;
    top:                -.7em;
    padding:            0 1em;
    text-transform:     uppercase;
    color:              @gray-dark;
    font-weight:        bold;
    font-size:          1.2em;
}

.login-box,
.signup-box {
    padding: @s-triple-md-margin 0;
}

.inner-panel {
    margin-top:         @s-double-md-margin;
    margin-bottom:      @s-triple-md-margin;
    border:             1px solid @brand-primary;
    padding:            @s-triple-md-margin;
    background-color:   @brand-tertiary;

    #fitem_id_profile_field_donneespersonnelles {
        margin-bottom: 0;
    }
}



.password-wrapper {
    position: relative;
}

.login-forgot {
    position:   absolute;
    right:      0;
    top:        0;
    height:     @input-height-base;
    border:     1px solid @gray-light;
}

.fitem_fpassword {
    position: relative;
}

.unmask {

    label {
        font-weight:    normal;
        font-family:    @font-family-sans-serif;
        margin:         0;
    }
}



.login-forgot:hover {
    border:     1px solid @gray-light;
}

.login-box .btn-block {
    margin: 0;
}

/* signup */
.fitem-legacy + .help-block {
    margin-top:     -10px;
    margin-bottom:  15px;
}

.signup-box .fdescription {
    display: none;
}

.error-msg {
    line-height:    1.5;
    margin:         0 0 10px;
}

.signup-box {
    .fitem_fsubmit {
        margin-top: 30px;
        text-align: center;
    }

    .fsubmit {
        margin:     0 auto !important;
        width:      auto !important;
        float:      none !important;
    }

    .btn {
        margin: 0;
    }

    #fitem_id_submitbutton {
        margin-bottom: 0 !important;
    }
}

.signup-footer {
    margin-top: @grid-gutter-width;
}
