.icon-halloween {
    display:            block;
    height:             (@s-standard-icon-size - 6);
    width:              (@s-standard-icon-size - 6);
    background-repeat:  no-repeat;
    overflow:           hidden;
    text-indent:        100%;
    white-space:        nowrap;
    background-image:   url([[pix:theme|sprite-halloween-mobile]]);
    
    @media (min-width: @screen-sm-min) {
        height:             @s-standard-icon-size;
        width:              @s-standard-icon-size;
        background-image:      url([[pix:theme|sprite-halloween-media]]);
    }
}

.icon-halloween--facebook {
    background-position: 0px -62px;
    
    @media (min-width: @screen-sm-min) {
        background-position: 0px -74px;
    }

    .u-inverse & {
        background-position: 0 0;
    }
}

.icon-halloween--facebook-share {
    background-position: 0px -91px;

    @media (min-width: @screen-sm-min) {
        background-position: 0px -111px;
    }    
    
    .u-inverse & {
        background-position: 0 0;
    }
}

.icon-halloween--facebook:hover {
    background-position: 0px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: 0px -37px;
    }
}

.icon-halloween--twitter {
    background-position: -31px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -37px -74px;
    }
    
    .u-inverse & {
        background-position: -31px 0;
        
        @media (min-width: @screen-sm-min) {
            background-position: -37px 0;
        }
    }
}

.icon-halloween--twitter-share {
    background-position: -31px -91px;

    @media (min-width: @screen-sm-min) {
        background-position: -37px -111px;
    }    
    
}

.icon-halloween--twitter:hover {
    background-position: -31px -31px;
    
    @media (min-width: @screen-sm-min) {
        background-position: -37px -37px;
    }
}

.icon-halloween--dailymotion {
    background-position: -62px -62px;
    
    @media (min-width: @screen-sm-min) {
        background-position: -74px -74px;
    } 

    .u-inverse & {
        background-position: -62px 0;
        
        @media (min-width: @screen-sm-min) {
            background-position: -74px 0;
        } 
    }
}

.icon-halloween--dailymotion-share {
    background-position: -62px -91px;

    @media (min-width: @screen-sm-min) {
        background-position: -74px -111px;
    }    
    
}

.icon-halloween--dailymotion:hover {
    background-position: -62px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -74px -37px;
    } 
}

.icon-halloween--blog {
    background-position: -93px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -111px -74px;
    } 
    
    .u-inverse & {
        background-position: -93px 0;
        
        @media (min-width: @screen-sm-min) {
            background-position: -111px 0;
        } 
    }
}

.icon-halloween--blog-share {
    background-position: -93px -93px;

    @media (min-width: @screen-sm-min) {
        background-position: -111px -111px;
    }    
    
}

.icon-halloween--blog:hover {
    background-position: -93px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -111px -37px;
    } 

}

.icon-halloween--email {
    background-position: -124px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -148px -74px;
    } 

    .u-inverse & {
        background-position: -124px 0;
        @media (min-width: @screen-sm-min) {
            background-position: -148px 0;
        } 
    }
}

.icon-halloween--email-share {
    background-position: -124px -93px;

    @media (min-width: @screen-sm-min) {
        background-position: -148px -111px;
    }    
    
}

.icon-halloween--email:hover {
    background-position:-124px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -148px -37px;
    } 
}


.icon-halloween--googleplus {
    background-position:-155px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -185px -74px;
    } 

    .u-inverse & {
        background-position: -155px 0;
        
        @media (min-width: @screen-sm-min) {
            background-position: -185px 0;
        } 
    }
}

.icon-halloween--googleplus-share {
    background-position: -155px -93px;

    @media (min-width: @screen-sm-min) {
        background-position: -185px -111px;
    }    
    
}

.icon-halloween--googleplus:hover {
    background-position: -155px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -185px -37px;
    }
}


.icon-halloween--linkedin {
    background-position:-186px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -222px -74px;
    }

    .u-inverse & {
        background-position: -186px 0;

        @media (min-width: @screen-sm-min) {
            background-position: -222px 0;
        }
    }
}

.icon-halloween--linkedin-share {
    background-position: -186px -93px;

    @media (min-width: @screen-sm-min) {
        background-position: -222px -111px;
    }    
    
}

.icon-halloween--linkedin:hover {
    background-position: -186px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -222px -37px;
    }
}


.icon-halloween--viadeo {
    background-position:-217px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -259px -74px;
    }

    .u-inverse & {
        background-position: -217px 0;

        @media (min-width: @screen-sm-min) {
            background-position: -259px 0;
        }
    }
}

.icon-halloween--viadeo:hover {
    background-position: -217px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -259px -37px;
    }
}

.glyphicon-class {
    display: block;
    font-size: 12px;
}

.glyphicon-halloween {
    font-size: 30px; 
    color: #F16E00;
    padding: 10px;
}