/*
 * Orange Thematics Menu CSS.
 */

.block_orange_horizontal_numbers {

    padding: 0;

    .row {
        padding-bottom: @s-triple-md-margin;
    }

    .orange-horizontal-numbers__mainbody {
        padding-bottom: 0;

        @media (min-width:  @screen-md-min) {
            padding-bottom: @s-triple-md-margin;
        }
    }

    .orange-horizontal-numbers__item {
        text-align:     center;
        padding-bottom:  @s-triple-md-margin;

        @media (min-width:  @screen-md-min) {
            padding-bottom: 0;
        }

    }

    .orange-horizontal-numbers__title {
        line-height:    1.2;
        margin-top:     0;
        margin-bottom:  @s-triple-md-margin;
    }

    .orange-horizontal-numbers__number,
    .orange-horizontal-numbers__user {
        margin-bottom:  @s-small-xs-margin;
    }

    .orange-horizontal-numbers__number {
        font-size:      @font-size-h2;
    }

    .orange-horizontal-numbers__user {
         font-size:      @font-size-h3;
    }

}
