/*
 * This file include Solerni CSS specific code for page block title
 */

/* page block title */
.page-block-title  {

    padding-top: @s-triple-md-margin;

    & h1,
    & .h1 {
        margin-top:     0;
        margin-bottom:  @s-double-md-margin;

        & + p {
            margin-bottom: @s-triple-md-margin;
        }
    }

    .page-block-title__link {
        text-decoration: none;
    }

    .orange-nav-tabs {
        margin: 0 0 @s-small-xs-margin 0;

        @media (min-width: @screen-md-min) {
            margin-bottom: @s-double-md-margin;
        }

        .orange-nav-tabs-link {
            text-decoration:    none;
            font-family:        @font-family-titles;
        }
    }

    .page-block-title__img {
        height: (@font-size-h1 * @line-height-titles);
        width:  auto;
    }
}
