/*
 * This file include Solerni CSS specific code :
 * keeps code that is not lengthy enough to be into a specific file
 */
/*
 * Element LESS template as model :

.classname {
    permanent_property: value;

    @media (min-width: @screen-sm-min) {
        sm-specific_property: value;
        (remove @media block if unused)
    }

    @media (min-width: @screen-md-min) {
        md-specific_property: value;
}

    @media (min-width: @screen-lg-min) {
        lg-specific_property: value;
    }
}

*/

// Probably never use, but we never know.
.font-primary {
    font-family: @font-family-base;
}

.font-secondary {
    font-family: @font-family-serif;
}

.font-mono {
    font-family: @font-family-monospace;
}

// Titles
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, p {
    line-height:    1.5; // 63px, 42px, 36px, 31px, 15px, 13px and 20px baseline
}

h1, .h1,
h4, .h4 {
    color: @brand-primary;
}

// Forms Moodle missing type="email"
// Overrides same function from boostrap/less/moodle/forms.less # 160
form select,
form input[type="text"],
form input[type="password"],
form input[type="email"],
form.atto_form input[type="url"],
select.singleselect {
    .form-control;
    width: auto;
    max-width: 300px;
    display: inline;
    margin: 0 0 @padding-small-vertical 0;
}

// Moodle uses some margins, Bootstrap others : mixing both
input[type="radio"],
input[type="checkbox"] {
    margin: 4px;
}

// Links rules and colors from guidelines
a {
    text-decoration: underline;
}

a:visited,
a.visited {
    color: @link-visited-color;
}

a:active,
a.active,
a:focus,
a.focus {
    color: @link-active-color;
}

a:focus,
a.focus {
    outline:        1px dotted currentColor;
    outline-offset: 2px;
}

/*
 * List Links (as in footer)
 * */
.list-link {
    margin: 0;
    padding: 0;
}

    .link-item {
        margin-bottom:  @s-triple-xs-margin;
        text-align:     center;

        @media (min-width:  @screen-md-min) {
            margin-bottom:  @s-double-md-margin;
            text-align:     left;
        }
    }

    .link-item:first-child {
        padding:            @s-small-xs-margin 0;
        background-color:   @gray-before-light-plus;
        color:              @brand-primary;

        @media (min-width: @screen-md-min) {
            background-color:   transparent;
        }

    }

    .link-item:last-child,
    .link-item:first-child {
        margin-bottom: @s-double-xs-margin;

        @media (min-width:  @screen-md-min) {
            margin-bottom: @s-double-md-margin;
        }
    }

    .list-link .dropdown {
        margin-left:    -@s-double-xs-margin;    // Apparently removing left padding
        margin-top:     -@s-small-xs-margin;    // Apparently removing top padding
    }

.footer {
    margin-bottom: @s-triple-xs-margin;

    @media (min-width:  @screen-md-min) {
        margin-bottom: @s-triple-md-margin;
    }
}

 /*
  * Social class
  * */

.list-social {
   padding-top:     @font-size-base;
   padding-bottom:  @font-size-base;
   margin-bottom:   0;
   margin-left:     0;
   margin-right:    0;
}

div[role="main"] .list-social {
  padding-top:      @font-size-base; // Override because bootstrap specificity
  padding-bottom:   @font-size-base;
  padding-left:     0;
  padding-right:    0;
}

    .social-item {
        display:        inline-block;
        vertical-align: middle;
        margin-right:   @s-small-xs-margin;

        @media (min-width:  @screen-md-min) {
            margin-right: @s-double-xs-margin;
        }
    }

    .social-item:first-child {
        margin-right: @font-size-base;
    }

    .social-item:last-child {
        margin-right: 0;
    }

 /*
  * Dropdowns
  * */

 div[role="main"] button + .dropdown-menu,
 button + .dropdown-menu {
     padding:       0;
     margin-top:    -1px;
 }

 .dropdown .btn {
     margin-left: 0;
 }

 .dropdown-menu > li > a {
     padding:           @s-double-xs-margin @s-small-xs-margin;
     line-height:       1;
     text-decoration:   none;

    @media (min-width:  @screen-xs-min) {
        padding: (@s-medium-md-margin / 2) @s-medium-md-margin;
    }

 }

 .header-dropdown .dropdown-menu a {
     font-weight: bold;
 }

/*
 * Line
 * */
.fullwidth-line {
    border-bottom-color: @brand-primary;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/*
 *  Catalog
 */
.jsenabled .catalog-filters-form .btn {
    display: none;
}

.filters-form-fieldset {
    margin-bottom: @s-medium-xs-margin;

    @media (min-width: @screen-xs-min) {
        margin-bottom: @s-medium-md-margin;
    }
}

.filters-form-fieldset:last-of-type {
    margin-bottom: 0;
}

    .form-fieldset-legend {
        margin-bottom: 0;
    }

/*
 * mediagallery icons (US #197 US #210)
 */
.path-mod-mediagallery .gallery_list_item .controls,
.path-mod-mediagallery .item .controls {
    clear:          both;
    margin-bottom:  3px;
}

/*
 *  Badges: use variables instead
 */

.orange-course-name-logo {
    position:       relative;
    right:          0px;
    border-bottom : 1px solid #000;
    padding:        @padding-small-vertical 10px;
    padding-top:    @padding-small-vertical;
    padding-bottom: @padding-small-vertical;
}

.orange-course-name {
    font-weight: bold;
}

.orange-course-logo {
    position:   absolute;
    top:        0;
    right:      0;
}

.orange-badges-list {
    padding:        @padding-small-vertical 10px;
    padding-top:    @padding-small-vertical;
    padding-bottom: @padding-small-vertical;
}

/*
 * Notification email in header
 */
.header-email-icon {
    position: relative;
}

.email-notification {
    position:           absolute;
    top:                0;
    right:              0;
    background-color:   @brand-secondary;
    color:              @brand-tertiary;
    width:              @padding-base-horizontal;
    height:             @padding-base-horizontal;
    font-size:          @font-size-base;
    line-height:        @padding-base-horizontal;
    border-radius:      50%;
    text-indent:        0;
    text-align:         center;

}

/*
 * Page Moodle
 */
#page {
    margin-top: @s-double-xs-margin;

    @media (min-width: @screen-md-min) {
        margin-bottom: @s-double-md-margin;
    }
}

/*
 * Blocks Moodle
 */
.block .block_tree .tree_item {
    padding-top:    @s-small-xs-margin;
    padding-bottom: @s-small-xs-margin;
    border-bottom: 1px solid @panel-default-border;
    width : 100%; 
}
.block .block_tree .tree_item.branch {
    background-position: 100% 50%;
    padding-left: @s-small-xs-margin;
    padding-right: @s-double-xs-margin;
}
.block .content .block_tree li.item_with_icon .tree_item {
    img {
        top: 12px;
    }
}