.icon-halloween {
    display:            block;
    height:             @s-small-icon-size;
    width:              @s-small-icon-size;
    background-repeat:  no-repeat;
    overflow:           hidden;
    text-indent:        100%;
    white-space:        nowrap;
    background-image:   url([[pix:theme|halloween-sprite-sheet]]);
    
    @media (min-width: @screen-sm-min) {
        height:             @s-standard-icon-size;
        width:              @s-standard-icon-size;
        background-image:      url([[pix:theme|halloween-sprite-sheet]]);
    }
}

.icon-halloween--facebook {
    background-position: 0px -px;

    @media (min-width: @screen-sm-min) {
        background-position: 0px -257px;
    }
    .u-inverse & {
        background-position: 0px -220px;
    }
}

.icon-halloween--facebook-share {
    background-position: 0px -91px;

    @media (min-width: @screen-sm-min) {
        background-position: 0px -111px;
    }

    .u-inverse & {
        background-position: 0 0;
    }
}

.icon-halloween--facebook:hover {
    background-position: 0px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: 0px -368px;
    }
}

.icon-halloween--twitter {
    background-position: -31px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -37px -257px;
    }

    .u-inverse & {
        background-position: -31px 0;

        @media (min-width: @screen-sm-min) {
            background-position: -37px -220px;
        }
    }
}

.icon-halloween--twitter-share {
    background-position: -31px -91px;

    @media (min-width: @screen-sm-min) {
        background-position: -37px -111px;
    }

}

.icon-halloween--twitter:hover {
    background-position: -37px -332px;

    @media (min-width: @screen-sm-min) {
        background-position: -37px -368px;
    }
}

.icon-halloween--dailymotion {
    background-position: -62px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -74px -257px;
    }

    .u-inverse & {
        background-position: -62px 0;

        @media (min-width: @screen-sm-min) {
            background-position: -74px -220px;
        }
    }
}

.icon-halloween--dailymotion-share {
    background-position: -62px -91px;

    @media (min-width: @screen-sm-min) {
        background-position: -74px -111px;
    }

}

.icon-halloween--dailymotion:hover {
    background-position: -62px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -74px -368px;
    }
}

.icon-halloween--blog {
    background-position: -93px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -111px -257px;
    }

    .u-inverse & {
        background-position: -93px 0;

        @media (min-width: @screen-sm-min) {
            background-position: -111px -220px;
        }
    }
}

.icon-halloween--blog-share {
    background-position: -93px -93px;

    @media (min-width: @screen-sm-min) {
        background-position: -111px -368px;
    }

}

.icon-halloween--blog:hover {
    background-position: -93px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -111px -368px;
    }

}

.icon-halloween--googleplus {
    background-position:-155px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -148px -257px;
    }

    .u-inverse & {
        background-position: -155px 0;

        @media (min-width: @screen-sm-min) {
            background-position: -148px -220px;
        }
    }
}

.icon-halloween--googleplus-share {
    background-position: -155px -93px;

    @media (min-width: @screen-sm-min) {
        background-position: -148px -331px;
    }

}

.icon-halloween--googleplus:hover {
    background-position: -155px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -148px -368px;
    }
}


.icon-halloween--linkedin {
    background-position:-186px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -185px -257px;
    }

    .u-inverse & {
        background-position: -186px 0;

        @media (min-width: @screen-sm-min) {
            background-position: -185px -220px;
        }
    }
}

.icon-halloween--linkedin-share {
    background-position: -186px -93px;

    @media (min-width: @screen-sm-min) {
        background-position: -222px -111px;
    }

}

.icon-halloween--linkedin:hover {
    background-position: -186px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -185px -368px;
    }
}


.icon-halloween--viadeo {
    background-position:-217px -62px;

    @media (min-width: @screen-sm-min) {
        background-position: -222px -257px;
    }

    .u-inverse & {
        background-position: -217px 0;

        @media (min-width: @screen-sm-min) {
            background-position: -222px -220px;
        }
    }
}

.icon-halloween--viadeo:hover {
    background-position: -217px -31px;

    @media (min-width: @screen-sm-min) {
        background-position: -222px -368px;
    }
}

.glyphicon-class {
    display: block;
    font-size: 12px;
}

.glyphicon-halloween {
    font-size:  30px;
    color:      #F16E00;
    padding:    10px;
}

.glyphicon-halloween_small {
    font-size:      16px;
    padding-left:   0px;
    color:          @brand-tertiary;
}
