/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2015, 3:04:50 PM
    Author     : ajby6350
*/

.icon-halloween {
    display:            block;
    height:             @s-standard-icon-size;
    width:              @s-standard-icon-size;
    background-color:   @brand-primary;
    background-repeat: no-repeat;
    background-image:url('../pix/sprite-halloween.png');
}

.icon-halloween--facebook {
    background-position:0px 0px;
}

.icon-halloween--twitter {
    background-position:-37px 0px;
}

.icon-halloween--dailymotion {
    background-position:-74px 0px;
}

.icon-halloween--email {
    background-position:-111px 0px;
}

.icon-halloween--facebook:hover {
    background-position:0px -37px;
}

.icon-halloween--twitter:hover {
    background-position:-37px -37px;
}

.icon-halloween--dailymotion:hover {
    background-position:-74px -37px;
}

.icon-halloween--email:hover {
    background-position:-111px -37px;
}

