.block_orange_emerging_messages {
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.block_orange_emerging_messages .boxmessage{
	height: 100px;
	padding: 6px;
	border: 1px solid #999999;
	text-align: left;
}

.block_orange_emerging_messages .boxdiscus{
	height: 100px;
	padding: 6px;
	border: 1px solid #999999;
	text-align: left;
}

.block_orange_emerging_messages .valign{
  	vertical-align: middle;
  	line-height: 68px;
}

.block_orange_emerging_messages .boxmessage:hover {
    background-color: #CCCCCC;
}

.block_orange_emerging_messages .boxdiscus:hover {
    background-color: #CCCCCC;
}

.block_orange_emerging_messages .linkboxmessage{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
}