{% extends 'dashboard.twig' %}

{% block content %}

    <div class="container-fluid">
        {{ content|raw }}
    </div>

{% endblock %}

{% block topcontrols %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}
    {% include "@CoreHome/_periodSelect.twig" %}
{% endblock %}
