.block_orange_last_message {
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.block_orange_last_message .mailsubject {
    font-weight: bold;
}



.block_orange_last_message .no_message {
    color:#999999;
}

.block_orange_last_message a.mailboxlink:link,
.block_orange_last_message a.mailboxlink:visited {
    color:#F16E00;
}

.block_orange_last_message .essentiels-icon {
    content:        "";
    position:       absolute;
    width:          24px;
    height:         24px;
    top:            -3px;
    left:           -17%;
    pointer-events: none;
    background:     transparent url([[pix:block_orange_last_message|last_message]]) no-repeat 0 0 scroll;
}
